* {
    margin: 0;
}

.flex {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center; /* para texto usa vw */
}

.msg-container {
    height: 100%;
    width: 45%;

    background-color: rgb(28, 28, 28);
    
}

::-webkit-scrollbar {
    width: 0;
    visibility: hidden;
}

.overflow {
    height: 85%;
    width: 100%;
    

    overflow-y: scroll;

    background-color:  rgb(74, 133, 187);

}

.msg_1 {
    width: fit-content;
    height: fit-content;
    max-width: 80%;

    background-color: rgb(65, 66, 65);
    border-radius: 3px;
    padding: 5px;

    margin-right: auto;
    margin-left: 2%;
    margin-bottom: 1%;
}

.msg_2 {
    width: fit-content;
    height: fit-content;
    max-width: 80%;

    background-color: green;
    border-radius: 3px;
    padding: 5px;

    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 1%;
}

.submit {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(21, 109, 198, 0.212);

    flex-wrap: wrap;

}


.inpg {
    width: 80%;
    height: 40%;
}

.text {
    resize: none;
    font-size: calc(10pt + 0.5vw);
}

.submit-text {
    font-size: 1.3vw;
}

.msg_text {
    color: white;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    
}


.ceil {
    display: flex;
    width: 100%;
    height: auto;

    justify-content: center;
    
   
}
.bottom_ceil {
    width: 100%;
    height: auto;

    display: flex;

    position: fixed;
    top: 0; left: 0;

    justify-content: center;
}


.choosePerson {
    width: auto;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.choosePerson:hover {
    background-color: rgba(21, 109, 198, 0.212);
}

.time {
    color: white;
    font-size: 0.9vw;

    margin-left: 5px;
    padding-right: 5px;
    height: 5px;

    margin-top: 5px;
    display: inline-block;
}

.day {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    height: 30px;
    background-color: rgba(82, 82, 82, 0.664);
    text-align: center;
    margin-bottom: 1%;

    border-radius: 5px;
}
.dayText {
    font-size: 15pt;
    color: black;
    font-weight: 500;

}

.img1 {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    
    background-color: rgb(65, 66, 65);
    border-radius: 10px;

    margin-right: auto;
    margin-left: 2%;
    margin-bottom: 1%;

    width: 70%;
}
.img2 {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    
    background-color: green;
    border-radius: 10px;

    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 1%;

    width: 70%;
}

a.fileA {
    font-size: 1.25vw;
    font-family: Arial, Helvetica, sans-serif;
}
a.fileAsm {
    margin-top: 1%;
}

span.fileDlw {
    color: white;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

form#fileForm {
    margin-top: 2%;
    display: flex;
}
button#fileBtn {
    height: min-content;
}


#goDown {
    font-size: 40pt;
    color: white;

    border-radius: 5%;
      
    margin-left: 5px;
    cursor: pointer;

    transform: rotate(-90deg);

}


.delMsg {

    display: inline-flex;
    cursor: pointer;
    user-select: none;
}

.deletedMsg {
    color: rgb(91, 91, 91);
}


.displayIMG {
    width: 100%;
    padding: 1%;
}


.offcanvas {
    width: 26.5%;
} 