<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
</head>
<body>

    <script>
        const show_pass = function (checkbox_id, input_id) {
            var check = document.getElementById(checkbox_id)
            var input = document.getElementById(input_id)
            check.addEventListener("click", () => {
                if (check.checked) input.type = 'text'
                else if (!check.checked) input.type = 'password'
            })
        } 
    </script>

    {{{body}}}


    <script src="/bootstrap//js/bootstrap.js"></script>

</body>
</html>
